body {
	color: #696969
}

.scrollable-div {
  height: 85vh;
  overflow-y: auto;
}

.title {
	color: #fff;
	font-size: 72px;
	font-weight: bold;
	font-family: 'Acme', sans-serif;
	/*font-family: 'Archivo Black', sans-serif;*/
	/*font-family: 'Alfa Slab One', cursive;*/
}

.navbar-brand {
	font-family: 'Acme', sans-serif;
}

.loading-screen {
	height: 100vh;
	background-image: url('../assets/loadingScreen.gif');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.dumbell-image {
	height: 50px;
	width: 50px;
	float: left;
	margin-top: -15px;
	margin-right: 10px;
}

.home {
	margin-top: -20px;
	padding-top: 30vh;
	background-image: url('../assets/gymBackground.jpg');
	height: 105vh;
	width: 100%;
}
