body {
	color: #696969
}

.scrollable-div {
    height: 100vh;
    overflow-y: auto;
}

.title {
	color: #fff;
	font-size: 72px;
	font-weight: bold;
	font-family: 'Acme', sans-serif;
	/*font-family: 'Archivo Black', sans-serif;*/
	/*font-family: 'Alfa Slab One', cursive;*/

}

.home {
	margin-top: -20px;
	padding-top: 30vh;
	background-image: url('http://i.imgur.com/R8ZCRUj.jpg');
	height: 105vh;
	width: 100%;
}
